li {
    list-style-type: none; /* Убираем маркеры */
}

.nav{
    grid-area: nnn;
    background-color: burlywood;

}
.item a{
    color: white;
    text-decoration: none;

}
.item a.active{
     color: gold;
 }

.users{
    background-color: lightpink;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 7px; /*відстань між елементами*/

    justify-self: center;
    align-self: center;
}

.span{
    text-align: center;
    color: white;
}

