/*------Обявляєм грід всьому файлі---------------------------*/
.App-wrapper {
  display: grid;

  /*по якому шаблону виставлені*/
          grid-template-areas:      /*по якому шаблону виставлені*/
          "hhh hhh"
          "nnn ccc";

  grid-template-rows: 60px 1fr; /*скільки взагальному строк (внас 2(перша займає 60px))*/
  grid-template-columns: 2fr 10fr; /*скільки взагальному колонок(внас 2) */

  /*grid-gap: 10px;*/ /*відстань між елементами*/
}
/*---------------------------------*/
app-wrapper-content{
    grid-area: ccc;

}

/*----------------------------------*/
@media screen and (max-width: 500px) {
    .App-wrapper {
        grid-template-rows: 5% 25% 1fr;
        grid-template-columns: 2fr;

        grid-template-areas:      /*по якому шаблону виставлені*/
                "hhh"
                "nnn"
                "ccc";
    }



}






